/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* PMEL: */
/* Layout	Size	CSS Stylesheet						Description */
/* Mobile	All		global								Apply first to all device widths. */
/* Tablet	>=740px	pacific-marine-alpha-default		Inherit Mobile, add/override from Tablet. */
/* Desktop	>=980px	pacific-marine-alpha-default-normal	Inherit Global & Tablet; add/override from Desktop. */
/* Desktop  >=1220px pacific-marine-alpha-default-wide  Inherit Global, Tablet, Desktop; add/override from wide Desktop */

/* fix firefox boxsizing issue */
* {
	-moz-box-sizing: content-box;
}
body {
	font: 14px/16px Arial, Verdana, sans-serif normal;
}
html body.admin-menu {
	margin-top: 79px !important;
}
table {
	width: 100%;
	border: none;
}
table tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
	background: none;
}
table th {
	font-weight: bold;
}
table td {
	border-bottom: 1px dashed #ccc;
}
img, input, select {
	max-width: 100% !important;
	height: auto !important;
}
sub {
	vertical-align: sub;
	font-size: 80%;
	line-height: 80%;
}
/* 8/12/14 added - tn */
sup {
	vertical-align: super;
	font-size: 80%;
	line-height: 80%;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #0B5791;
}
a:hover {
	color: #761f1f;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Verdana, sans-serif;
	margin: 10px 0;
}
h1 {
	line-height: 35px;
	/*font-variant: small-caps;*/		/* Commented out 6/27/14 - tn */
	font-size: 30px;					/* Overrides omega-text.css - tn */
	/*color: #0A6B76;*/
	color: #343434;
	border-bottom: 1px solid #707070;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
h2,
h2.node-title,
h2.block-title {
	font-size: 27px;
	line-height: 30px;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #707070;*/
	width: 100%;
	margin: 15px 0;
}
h2,
h2.node-title,
h2.block-title,
h2.block-title a {
	color: #0A6B76;
}
h3 {
	font-size: 25px;
	line-height: 25px;
	margin: 15px 0;
}
h3,
h3 a,
h3 a:link,
h3 a:visited {
	color: #0A6B76;
}
h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #0A6B76;
}
h5 {
	font-size: 16px;
	line-height: 18px;
	color: #0A6B76;
}
/* Used in user's guide Index */
h6 {
	font-size: 15px;
	color: #000;
	margin: 0 0 3px 0;
}
.node .content .field {
	margin-bottom: 10px;
}
ul.menu li.leaf,
ul.menu li.collapsed,
ul.menu li.expanded {
	display: inline;
	list-style: none;
}
.region-sidebar-first ul.menu li.leaf,
.region-sidebar-first ul.menu li.collapsed,
.region-sidebar-first ul.menu li.expanded,
.region-sidebar-second ul.menu li.leaf,
.region-sidebar-second ul.menu li.collapsed,
.region-sidebar-second ul.menu li.expanded {
	display: list-item;
}
.region-sidebar-first-inner .block,
.region-sidebar-second-inner .block {
	margin-bottom: 20px;
}
.region-sidebar-first .item-list ul li {
	margin: 0 0 0 .5em;
	padding: 0.2em .5em 0 0;
}
#region-branding,
#region-menu {
	margin: 0;/*margin-bottom: 10px;*/
}
.logo-img {
	margin: 10px 0 0 5px;
	background: url('../images/mobile-logo.png') 0 0 no-repeat;
	background-size: contain;
	height: 90px;
	width: 100%;
}
.logo-img a {
	width: 100%;
	height: 100%;
	display: block;
}
.logo-img img {
	display: none;
}
#zone-header {
	position: relative;
}
#noaa-doc {
	float: right;
	width: 100%;
	margin-top: 10px;
}
#noaa-doc div {
	float: right;
}
#noaa-doc div.words {
	float: none;
	font-size: 12px;
	line-height: 13px;
	text-align: right;
	text-transform: uppercase;
	margin-right: 5px;
}
#noaa-doc div.words #doc {
	font-size: 9px;
	color: #555;
}
.logos .logo img {
	height: 40px;
	width: 40px;
}
#hamburger,
#search {
	display: block;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 10px;
}
#hamburger {
	right: 30px;
}
#search {
	right: 0px;
}
#block-search-form {
	display: none;
}
#block-search-form form {
	margin-bottom: 0;
}
#block-search-form input {
	padding: 2% 5%;
	width: 100%;
	margin: 10px 0;
	font-size: 18px;
	color: #8e8e8e;
	border-radius: 20px;
	border: 1px solid #ccc;
}
#block-system-main-menu {
	display: none;
	padding-top: 15px;
}
#block-system-main-menu li {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#block-system-main-menu li a {
	display: block;
	padding: 0 7%;
	width: 90%;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
}
#block-system-main-menu li a:after {
	float: right;
	margin-right: 10px;
	content: "〉";
	font-family: sans-serif;
}
#block-system-main-menu li.open > a:after {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
#block-system-main-menu li.expanded ul.menu {
	display: none;
}
#block-system-main-menu li.expanded ul.menu {
	padding: 0 10%;
}
.pub-date,
.img-caption,
.image-field-caption {
	font-size: 12px;
	color: #555;
	font-style: italic;
	margin-bottom: 3px;
	border-left: none;		/* Override Plone blockquote style */
	padding-left: 0;		/* Override Plone blockquote style */
}
.image-field-caption p {
	margin-bottom: 0;
}
.front #section-content,
.front #region-content {
	margin-bottom: 30px;
}
/** footer **/
#section-footer,
#section-footer ul.menu {
	text-align: center;
}
#section-footer {
	padding-bottom: 40px;
}
footer ul.menu li.leaf {
	margin: 0;
	padding: 0;
}
footer ul.menu li.leaf a {
	padding: 0 5px;
	border-right: 1px solid #333;
}
footer ul.menu li.first.leaf a {
	padding-left: 0px;
}
footer ul.menu li.last.leaf a {
	padding-right: 0px;
	border-right: none;
}
#block-block-3 p {
	margin: 18px 0;
	text-align: center;
}
#block-switchtheme-switch-form {
	margin-top: 20px;
}
/** node-specific **/
.views-field-field-citation p,
.field-name-field-citation p {
	font-size: 12px;
	color: #555;
}
.field-name-field-banner-image {
	background: #a7b9ce;
	padding: 5px;
}
.node-type-pmel-theme #page-right .field-name-field-page-images img,
.node-type-page #page-right .field-name-field-page-images img {
	margin-bottom: 10px;
}
#block-views-related-stories-block img,
#block-views-related-stories-related-items img {
	float: left;
	margin: 0px 5px 0px 0px;
	max-width: 40% !important;
	border: 2px solid #a8b8cf;
	height: 55px !important;
	width: auto;
}
#block-views-related-stories-related-items .views-row {
	margin-bottom: 7px;
	clear: left;
	min-height: 65px;
}
#block-views-related-stories-related-items .views-field-body {
	font-size: 11px;
	line-height: 13px;
}
.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
	width: 70px;
}
.pager li.pager-previous {
	left: 70px;
}
.pager li.pager-next {
	right: 70px;
}
.dnd-atom-wrapper.atom-align-left {
	margin-right: 7px;
}
.dnd-atom-wrapper.atom-align-right {
	margin-left: 7px;
}

/* IE11: Fixes slideshow image that is too wide when site is small (non-responsive) */
.views-slideshow-cycle-main-frame,
.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame-row img {
  width: 100% !important;
}

span.date-display-single {
	font-style: italic;
}
.block-related-stories-related-items .image-field-caption {
	display: none;
}
/* Remove homepage title - tn */
/*.front h1.node-title {
	display: none;
}*/
/* Rest of 'pre' styles in ckeditor_custom.css. This set here to override existing styles withoutusing !important */
pre {
	border: 1px solid #8cacbb;
}
.breadcrumb {
	display: none;
}
.modified-date {	/* Used in node--documentation_page.tpl.php */
	color: #808080;
	font-size: 11px;
	margin-bottom: 13px;
}
/* Superfish vertical menus, overrides sites/all/libraries/superfish/css/superfish.css */
/* Puts Superfish menus behind main nav drop-downs */
.sf-menu {
	z-index: 7;
}
.sf-menu li {
	z-index: 8;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	z-index: 9;
}
.sf-menu {
	float: left;
	margin-bottom: 1em;
	padding: 0;
}
.sf-menu.sf-navbar {
	width: 100%;
}
.sf-menu ul {
	padding-left: 0;
}
.sf-menu a,
.sf-menu span.nolink {
	border: 1px outset #005959;		/* Border between buttons */
	color: #ffebee;
	padding: 0.75em 1em;
}
.sf-menu a.sf-with-ul,
.sf-menu span.nolink.sf-with-ul {
	padding-right: 2.25em;
}
.sf-menu.rtl a.sf-with-ul,
.sf-menu.rtl span.nolink.sf-with-ul {
	padding-left: 2.25em;
	padding-right: 1em;
}
.sf-menu.sf-navbar a,
.sf-menusf-navbar span.nolink {
	border: 0;
}
.sf-menu span.sf-description {
	color: #ffebee;
	display: block;
	font-size: 0.833em;
	line-height: 1.5;
	margin: 5px 0 0 5px;
	padding: 0;
}
.sf-menu.rtl span.sf-description {
	margin: 5px 5px 0 0;
}
.sf-menu li,
.sf-menu.sf-navbar {
	background: #095D66;	/* Main menu, non-moused over button */
}
.sf-menu li li {
	background: #0A646E;	/* Second-level menu, non-moused over button */
}
.sf-menu li li li {
	background: #0A646E;	/* Third-level menu, non-moused over button */
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active,
.sf-menu span.nolink:hover,
.sf-menu.sf-navbar li li {
	background: #063F45;	/* All levels, moused over button */
	color: #ffffff;
}
.sf-menu.sf-navbar li ul {
	background-color: #063F45;	/* unknown */
}
.sf-menu.sf-navbar li ul li ul {
	background-color: transparent;
}
div.sf-accordion-toggle {	/* Move menu button on phones below Main Menu - tn */
	margin-top: 25px;
	margin-bottom: 5px;
}
div.sf-accordion-toggle a {
	background: #095D66;		/* unknown */
	border: 1px outset #68000e;
	color: #ffebee;
	padding: 1em;
}
div.sf-accordion-toggle a.sf-expanded,
.sf-menu.sf-accordion li.sf-expanded {
	background-color: #063F45;	/* unknown */
}
div.sf-accordion-toggle a.sf-expanded,
.sf-menu.sf-accordion li.sf-expanded > a,
.sf-menu.sf-accordion li.sf-expanded > span.nolink {
	font-weight: bold;
}
.sf-menu.sf-accordion li a.sf-accordion-button {
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 499;
}
.sf-menu.sf-accordion li li a,
.sf-menu.sf-accordion li li span.nolink {
	padding-left: 2em;
}
.sf-menu.sf-accordion li li li a,
.sf-menu.sf-accordion li li li span.nolink {
	padding-left: 3em;
}
.sf-menu.sf-accordion li li li li a,
.sf-menu.sf-accordion li li li li span.nolink {
	padding-left: 4em;
}
.sf-menu.sf-accordion li li li li a,
.sf-menu.sf-accordion li li li li span.nolink {
	padding-left: 5em;
}
.sf-menu.rtl.sf-accordion li li a,
.sf-menu.rtl.sf-accordion li li span.nolink {
	padding-left: auto;
	padding-right: 2em;
}
.sf-menu.rtl.sf-accordion li li li a,
.sf-menu.rtl.sf-accordion li li li span.nolink {
	padding-left: auto;
	padding-right: 3em;
}
.sf-menu.rtl.sf-accordion li li li li a,
.sf-menu.rtl.sf-accordion li li li li span.nolink {
	padding-left: auto;
	padding-right: 4em;
}
.sf-menu.rtl.sf-accordion li li li li li a,
.sf-menu.rtl.sf-accordion li li li li li span.nolink {
	padding-left: auto;
	padding-right: 5em;
}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
	font-weight: bold;
}
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
}
.sf-menu.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right;
}
/* Page description field */
.field-name-field-page-description,
.field-name-field-description {
	font-weight: bold;
	margin-bottom: 13px;
}
/* TOC "Folder page" content type */
.node-folder-page ul li {
	list-style-type: none;
	margin-bottom: 15px;
}
.node-folder-page ul li > a {
	font-weight: bold;
	font-size: 12px;
}
/* From Plone */
table.plain td {
	border-bottom: 1px dashed #ccc;
	padding: 12px;
}
blockquote {
	padding-left: 1.5em;
	margin-left: 0;
	border-left: 4px solid #8cacbb;
	color: #76797c;
}
code {
	font-family: Monaco, "Courier New", Courier, monospace;
	color: #000;
	background-color: #dee7ec;
	padding: 0 0.3em;
}
dt {
	font-size: 1em;		/* Reset dt font size set in omega-text.css */
	font-weight: bold;
}
/* end Plone */
