/* [Ignore this comment, not written by Scot/Inner File or PMEL] */
/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* PMEL: */
/* Layout	Size	CSS Stylesheet						Description */
/* Mobile	All		global								Apply first to all device widths. */
/* Tablet	>=740px	pacific-marine-alpha-default		Inherit Mobile, add/override from Tablet. */
/* Desktop	>=980px	pacific-marine-alpha-default-normal	Inherit Global & Tablet; add/override from Desktop. */
/* Desktop  >=1220px pacific-marine-alpha-default-wide  Inherit Global, Tablet, Desktop; add/override from wide Desktop */

#noaa-doc div {
	margin-left: 5px;
}
#block-system-main-menu .content li a {
	padding: 5px 25px;
	font-size: 18px;
}
#region-header-first {
	width: 410px;
}
#region-menu {
	width: 960px;
}
.front #region-content {
	width: 960px;
}
#zone-postscript .grid-6.region {
	width: 480px;
	margin-left: 0;
}
#zone-postscript .grid-3.region {
	width: 225px;
}
.front #region-postscript-third {
	margin-right: 0;
}
/* Homepage, full-width content beneath rotating banner images - tn */
/* Copied margin setting from pacific-marine-alpha-default */ 
.front #region-postscript-fourth {
	margin-left: 0;
	margin-right: 0;
	width: 960px;
}
