/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* PMEL: */
/* Layout	Size	CSS Stylesheet						Description */
/* Mobile	All		global								Apply first to all device widths. */
/* Tablet	>=740px	pacific-marine-alpha-default		Inherit Mobile, add/override from Tablet. */
/* Desktop	>=980px	pacific-marine-alpha-default-normal	Inherit Global & Tablet; add/override from Desktop. */
/* Desktop  >=1220px pacific-marine-alpha-default-wide  Inherit Global, Tablet, Desktop; add/override from wide Desktop */

#region-header-first {
	width: 510px;
}
#region-menu {
	width: 1220px;
}
.front #region-content {
	width: 1220px;
}
/* Homepage, full-width content beneath rotating banner images - tn */
/* Copied margin setting from pacific-marine-alpha-default */ 
.front #region-postscript-fourth {
	margin-left: 0;
	margin-right: 0;
	width: 1220px;
}
